.categories {
    background: #fffdf7;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.row-show-img-categories {
    overflow: hidden;
    width: 40vw;
    height: 90vh;
    border: solid 0.5px;
}

.row-categories {
    width: 60vw;
    height: auto;
    border: solid 0.5px;
    height: 90vh;
}

.single-category {
    font-size: 50px;
    margin-left: 200px;
    cursor: pointer;
}

.number-category {
    font-size: 40px;
}

.img-container-category {
    position: relative;
    background-image: url(../../public/media/img/spa2.avif);
    width: 100vw;
    height: 90vh;
    background-size: cover;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: none;
    z-index: 1;
}
.category {
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: solid 0.4px black;
    font-family: "La Mango";
    transition: 1s;
    cursor: pointer;
}

@media screen and (min-width: 200px) and (max-width: 767px) {
    .row-show-img-categories {
        display: none;
    }
    .row-categories {
        width: 100vw;
    }

    .number-category,
    .single-category {
        font-size: 22px;
        margin: 14px;
        display: flex;
        justify-content: center;
    }

    .category {
        display: flex;
        justify-content: space-between;
    }
}
