.section-product{
    background: #fcf8fd;
    height: auto;
    padding-bottom: 50px;
/*     border-radius: 0 40%; */
    background-image: url(../../public/media/img/photo-1560094981-910178d64917.avif);
    background-size: 1450px;
    background-position-y: 1140px;
    background-attachment: fixed;
   /*  display: flex;
    justify-content: center;
    flex-direction: column; */
}

.row-chiSiamo{
    display: flex;
    justify-content: center;
}

.text-chiSiamo{
    font-weight: 100;
    font-size: 20px;
    color: black;
}
.img-who-we-re{
    width: 600px;

}

.title-section-product{
    font-family: 'La Mango';
    font-weight: 100;
    font-size: 100px;
    font-style: italic;
    color: #000000;
}
