footer {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF2D7;
}

.logo-footer {
    width: 90vw;
    height: 200px;
    padding: 10px;
}

.adress {
    font-family: "La Mango";
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;
    color: black;
}

.phone-number {
    color: white;
    background: #292929;
    border-radius: 40px;
    width: 200px;
    text-align: center;
    position: relative;
}


.social-media {
    width: 130px;
    display: flex;
}

.social {
    width: 20px;
}

.instagram{
    width: 50px;
}

.maps {
    position: relative;
    border-radius: 20px;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 200px) and (max-width: 767px) {
    .adress {
        margin-top: 10px;
        border-bottom: solid 0.4px black;
    }
}
