.container-main {
    height: 100vh;
}

.row-hero {
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../../public/media/img/spa2.avif);
    background-size: cover;
    background-position-y: -50px;
}

.link-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 400px;
    overflow: hidden;
}

.div-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 13vh;
    overflow: hidden;
   
}
.title-header {
    font-size: 250px;
    font-family: "La Mango";
    font-style: italic;
    color: rgb(0, 0, 0);
    
}

.container-text-header{
    display: flex;
    height: 6vh;
    align-items: last baseline;
   justify-content: center;
}
.text-header {
    font-weight: 100;
    font-family: "Gojali";
}

.text-header-2 {
    font-weight: 100;
    font-size: 4rem;
    font-family: "Gojali";
   
}

.nav-item {
    border-radius: 20px;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    border: solid 0.9px;
    overflow: hidden;
}

.nav-item:hover {
    background: #fffdf7;
}

.row-bottom-header {
    margin-bottom: 30px;
}

.div-bottom-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

}

.scroll {
    font-family: "La Mango";
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    color: #5b5b5b;
}
.circle {
    border: solid 0.5px #5b5b5b;
    border-radius: 20px;
    width: 30px;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.inner-line {
    background-color: #5b5b5b;
    width: 8px;
    height: 8px;
    border-radius: 8px;
}

body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #a9afb0;
    --sb-size: 8px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

@media screen and (min-width: 200px) and (max-width: 767px) {
    .container-main {
        height: 100vh;
    }


    .row-hero {
        height: 100vh;
        background-image: url(../../public/media/img/spa2.webp);
        background-size: cover;
        background-position: 0px;
    }

    .div-header {
        height: 200px;
        display: flex;
        align-self: flex-start;
    }

    .title-header {
        font-size: 60px;
    }

    .text-header-2 {
        font-size: 30px;
        text-align: center;
    }

    .div-bottom-header {
        margin-bottom: 30px;
    }

    .nav-item{
        background: #fffdf7;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    .container-main {
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: center top;
    }

    .row-main {
        flex-direction: column-reverse;
        align-items: baseline;
    }

    .div-img-header {
        background: none;
    }

    .div-header {
        width: 100vw;
        height: 500px;
        display: flex;
        justify-content: center;
    }

    .title-header {
        font-size: 120px;
    }

    .text-header {
        font-size: 18px;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) {
    .title-header {
        font-size: 160px;
    }

    .text-header {
        font-size: 18px;
        text-align: center;
    }
}
