html,
body {
  margin: 0;
  background: #FFF2D7;
  font-family: 'Gojali';
  z-index: -1;

}
li {
  list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

 button{
  border: none;
  transition: all 0.4s;
}