html,
body {
  margin: 0;
  background-color: white;
  font-family: 'Gojali';
  z-index: -1;
}

a{
    text-decoration: none;
    color: black;
}

button{
  border: none;
  transition: all 0.4s;
}


.container-main{
  margin-top: 10px;
  height: 90vh;
}

.row-main{
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.div-img-header{
  height: 650px;
  background-image: url(../../public/media/img/beauty.avif);
  background-size: cover;
}

.div-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.title-header{
  font-size: 250px;
  font-family: 'La Mango';
  font-style: italic;
  color: rgb(0, 0, 0);
}


.text-header{
  font-weight: 100;
  font-size: 22px;
  font-family: 'Gojali';
  transform-origin: -100px;
}





body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #8a704a;
  --sb-size: 8px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

@media screen and (min-width: 200px) and (max-width: 767px) {
  .container-main {
    background-image: url(../../public/media/img/beauty.avif);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center top;
  } 

  .row-main {
    flex-direction: column-reverse;
    align-items: baseline;

  }

  .div-img-header {
    height: 200px; 
    background-image: none;
  }

  .div-header{
    height: 500px;
    display: flex;
    align-items: center;
  }

  .title-header {
    font-size: 100px;
  }

  .text-header {
    font-size: 18px;
    text-align: center; 
  }
}


@media screen and (min-width: 768px) and (max-width: 999px){
  .container-main {
    background-image: url(../../public/media/img/beauty.avif);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center top;
  }

  .row-main {
    flex-direction: column-reverse;
    align-items: baseline;
    
  }

  .div-img-header {
    background: none;
  }

  .div-header{
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
  }

  .title-header {
    font-size: 120px;
  }

  .text-header {
    font-size: 18px;
    text-align: center; 
  }
}


 @media screen and (min-width: 1000px){
  .title-header {
    font-size: 160px;
    
  }

  .text-header {
    font-size: 18px;
    text-align: center; 
  }

} 