
.navbar-collapse {
    display: flex;
    justify-content: space-evenly;
    
}

.navbar-toggler{
    border-radius: 2px;
}

.navbar-nav{
    font-family: 'Vegawanty';
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    border-bottom:solid 0.4px ;
}


.logo{
    width: 200px;
    height: 60px;
    display: flex;
    align-items: baseline;
}

