.div-logo{
    height: 9vh;
    display: flex;
    justify-content: center;
}


.logo{
    height: 16vh;
    /* transform-origin: 50px; */
    transition: 0.6s;
}


@media screen and (min-width: 200px) and (max-width: 767px) {
   
    .div-logo{
        height: 30px;
       
    }
   
    .logo{
        width: 100px;

    }
}