
.logo{
    width: 200px;
    height: 60px;
    display: flex;
    align-items: baseline;
    transform-origin: 50px;
    transition: 0.9s;
}


@media screen and (min-width: 200px) and (max-width: 767px) {
   
    .div-logo{
        height: 50px;

        display: flex;
    }
   
    .logo{
        width: 220px;
    }
}