.section-products{
    height: auto;
    background-color: rgb(255,231,226);
    background-image: url(../../public/media/svg/Vector\ 35.svg);
    overflow: hidden;
  background-repeat: no-repeat;
  background-position: 150px;
  background-size: 900px;
  background-attachment: fixed;
  z-index: 2;
}

.wrapper{
   
    width: 100vw;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    margin-bottom: 2rem;
}

@keyframes scrollleft{
    to{
        right: -400px;
    }
}
.title-section{
    font-family: 'La Mango';
    font-weight: 100;
    font-size: 100px;
    font-style: italic;
    position: absolute;
    right: 100%;
    animation-name:scrollleft ;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

 .item1{
    animation-delay: calc(30s / 6 * (6 - 1) * -1);
}
.item2{
    animation-delay: calc(30s / 6 * (6 - 2) * -1);
}
.item3{
    animation-delay: calc(30s / 6 * (6 - 3) * -1);
}
.item4{
    animation-delay: calc(30s / 6 * (6 - 4) * -1);
}
.item5{
    animation-delay: calc(30s / 6 * (6 - 5) * -1);
}
.item6{
    animation-delay: calc(30s / 6 * (6 - 6) * -1);
} 



.row-section{
    justify-content: center;
    overflow: hidden;
    background-image: url(../../public/media/img/Rectangle\ 100.png);
    background-size: 700px;
    background-position: 800px;
    background-repeat: no-repeat;
    
}
.row-section-two{
    justify-content: center;
    overflow: hidden;
    background-image: url(../../public/media/img/Rectangle\ 100.png);
    background-size: 700px;
    background-repeat: no-repeat;
    
}

.div-img{
    display: flex;
    justify-content: center;
    background-image: url(../../public/media/img/Group\ 58.png);
    background-size: 100px;
    background-repeat: no-repeat;
}

.first-img{
    width: 330px;
    object-fit: cover;
    
}

.div-paragraph{
    max-width: 400px;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    
}



.subtitle-section{
    font-family: 'La Mango';
  font-style: italic;
  font-size: 40px;
}

.div-imgs{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 800px;

}

@media screen and (min-width: 200px) and (max-width: 767px){
    .div-paragraph{
        display: block;
    }


}